.dashboard-container {
    display: flex;
    background-color: #E5E5E5;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: auto;
    width: 100%;
    height: 100vh;
}

.dashboard-container ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}

.dashboard-container ul li {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 16px;
    position: static;
    width: 321px;
    height: 228px;
    left: 0px;
    top: 0px;
    background-color: #fff;
    border-radius: 4px;
}



.card-header {
    width: 321px;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.icon-buttons {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-buttons button {
    background-color: #fff;
    border: none;
    margin-left: 15px;
}

.card-header img {
    width: 10%;
}

.title {
    margin-left: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body p {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-body button {
    width: 71px;
    height: 16px;
    background-color: #fff;
    color: #FF8F39;
    border: 1px solid #FF8F39;
    border-radius: 4px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 10px;
}

@media (max-width: 1024px) {
    .dashboard-container {
        background-color: #E5E5E5;
        width: 60%;
        height: 100vh;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .dashboard-container {
        background-color: #E5E5E5;
        width: 90%;
        height: 100vh;
    }

    
}