.container {
    width: 100%;
    height: 64px;
    background-color: #fff;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    align-self: stretch;
    
}

.items {
    margin-left: auto;
    margin-right: auto;
    color: #6B6C7E;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    padding: 150px;
    /*
    align-self: stretch; */
}

.items input {
    margin-left: 10px;
}

.items span {
    margin: 10px 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}

.items img {
    margin-left: 20px;
    margin-right: 20px;
}

.items button {
    width: 64;
    height: 64;
    background: #0B5FFF;
    border-radius: 4px;
    border: 0;
    font-size: 20px;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
}

.search{
    width: 419px;
    height: 40px;
    border-radius: 4px;
    padding: 8px, 16px, 8px, 16px;
    background: #F1F2F5;
    border: 1px solid #E7E7ED;
    box-sizing: border-box;
    font-size: 14px;
    padding: 8px 16px;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
    }

    .items input {
        width: 60%;
        margin-left: 20px;
    }

    .items img {
        display: none;
        /* margin-left: 10px;
        margin-right: 2px; */
    }

    .items span {
        display: none;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .container {
        width: 100%;
    }

    .items input {
        width: 50%;
    }

    .items img {
        display: none;
    }

    .items span {
        display: none;
    }
    
}